<table class="tabela">
  <thead class="tabela__cabecalho">
    <th class="tabela__cabecalho__conteudo">Data</th>
    <th class="tabela__cabecalho__conteudo">Valor</th>
    <th class="tabela__cabecalho__conteudo">Destino</th>
  </thead>

  <tbody *ngIf="transferencias.length > 0; else listaVazia">
    <tr class="tebla__linha" *ngFor="let tranferencia of transferencias">
      <td class="tabela__conteudo">{{ tranferencia?.data | date: "short" }}</td>
      <td class="tabela__conteudo">{{ tranferencia?.valor | currency }}</td>
      <td class="tabela__conteudo">{{ tranferencia?.destino }}</td>
    </tr>
  </tbody>
</table>

<ng-template #listaVazia>
  <p>Nenhuma operação cadastrada</p>
</ng-template>

